{% load static%}
<style>
    .w {
        width:60px;
    }
</style>

<nav class="navbar bg-success navbar-dark navbar-expand-lg sticky-top py-0">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">
            <img src="{% static 'img/Godasko_icon6bsnake.png' %}" alt="" class="w"> Gamehiss

        </a>

        <button class="navbar-toggler" type ="button" data-toggle ="collapse" data-target="#navbarmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarmenu">
            <ul class="navbar-nav mr-auto">
                <li {% if request.path == '/' %}
                        class= "nav-item active"
                    {% else %}
                        class ="nav-item"
                    {% endif %}
                        >
                        <a href="{% url 'index' %}" class="nav-link">Anasayfa</a>
                </li>

                <li {% if 'games' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                        <a href="{% url 'games' %}" class="nav-link">Oyunlar</a> 
                </li>

                <li {% if 'about' in request.path %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                >
                        <a href="{%url 'about' %}" class="nav-link">Hakkımda</a> 
                </li>
                
            </ul>
            <hr>
            <!--
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">Giriş yap</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> Kayıt ol</a>
                </li>
            </ul>
            -->
        </div>

    </div>

</nav>





