{% extends 'layout.html' %}
{% load static %}
{% block content %}
<style>
    .jumbotron {
        background-image:url("{% static 'img/mariojumbotron.jpg' %}");
        background-size: cover;
        background-position: 50% 100%;
    }
</style>

<body class="bg-light">

    <div class="jumbotron mb-0">
        <div class="container">
            <h1 class="display-4 font-italic">Hoşgeldiniz</h1>
            <br>
            
            <p class="lead bg-light rounded text-success shadow">Oyunlar ile ilgili bir konu için burdaysan tam da olman gereken yerdesin.</p>
            <hr>
            <br>
            <p class="bg-light text-success rounded shadow">Biz oyunlara sanat gözüyle bakan insanlarız ve bize katılmanı çok isteriz.</p>
        </div>
    </div>
</body>



{% endblock %}