{% extends 'layout.html' %}
{% load static %}
{% block content %}
<body class="bg-warning">
    <div class="container">
    <h3 class="display-5 text-center lead bg-success rounded text-light mt-3 py-1">
        
        Yakında yeni oyunlar eklenecektir

    </h3>
    <hr>
    <div class="card">
       
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'img/ilk denemem.png' %}" alt="" class="card-img">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <div class="card-title h4">Suriyeli Simülatör</div>
                        <p class="card-text lead">Boyut : 20 MB</p>
                        <hr>
                        <a href="https://drive.google.com/file/d/15Ik3ek74unJRSm8iCClQi4IN-m0Vh0Ei/view?usp=sharing" >İndirmek için tıklayınız...</a>
                    </div>
                </div>
        </div>
    </div>


</div>
</body>


{% endblock %}